table{
    width: 1000px!important;
    background-color:lightgray;
}
#outerdiv{
    margin: 20px;
}
body{
    background-color:linen!important;
}
th{
    color:antiquewhite;
    background-color: black;
}
.Header{
margin-left: 20px;
margin-top: 20px;

}
#content{
    display: flex;
    position: relative;
    left:400px;
    top:-690px;
}
#heading{
    display: flex;
    position: relative;
    left:400px;
    top:-900px;
}